<!-- This code will be injected before closing the body tag -->
<link rel="me" value="https://writing.exchange/@jacmoe" />
<script src="{{.Site.BaseURL}}/js/jquery-3.5.1.min.js"></script>
<script src="{{.Site.BaseURL}}/js/jquery.justifiedGallery.min.js"></script>
<script src="{{.Site.BaseURL}}/js/jquery.swipebox.min.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
    $("#gallery").justifiedGallery().on('jg.complete', function () {
        $( '.swipebox' ).swipebox();
});
    $( '.swipebox' ).swipebox();
} );
</script>
