.mastodon-comment {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    .avatar img {
        margin-right: 1rem;
        min-width: 60px;
        padding: 1rem;
    }
    .author {
        padding-top: 0;
        .date {
            margin-left: auto;
        }
    }
    .disabled {
        color: var(--accent-color)
    }
}

.mastodon-comment-content p:first-child {
    margin-top: 0;
}
