html {
  font-family: 'Comic Neue', cursive;
  font-weight: 400;
}
@media (min-width: 48em) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 24px;
  }
}
.sidebar-about h1 {
  font-family: 'Comic Neue', cursive;
}
@media (min-width: 48em) {
  .sidebar {
    width: 24rem;
  }
/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
  .sidebar-sticky {
    width: 22rem;
  }
}

