html {
  font-family: 'Comic Neue', cursive;
  font-weight: 400;
}
@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 22px;
  }
}
.sidebar-about h1 {
  font-family: 'Comic Neue', cursive;
}
@media (min-width: 48em) {
  .sidebar {
    width: 24rem;
  }
/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
  .sidebar-sticky {
    width: 22rem;
  }
}

        @media (min-width: 1400px) {

            /* clearfix*/
            .post_media:after {
                content: "";
                display: table;
                clear: both;
            }

            .post_media {
                display: grid;
                grid-template-columns: fit-content(200px) 1fr;
                grid-template-rows: 1fr auto;
                grid-template-areas:
                    "image content"
                    "image footer";
                grid-gap: 20px;
                margin-bottom: 4em;
            }

            .post_media-flip {
                grid-template-columns: 1fr fit-content(200px);
                grid-template-areas:
                    "content image"
                    "footer image";
            }

            .img {
                float: left;
                margin-right: 20px;
                max-width: 200px;
                grid-area: image;
            }

            .post_media-flip .img {
                float: right;
                margin: 0 0 0 20px;
            }

            .content {
                grid-area: content;
            }

            .footer {
                grid-area: footer;
            }

            @supports(display: grid) {
                .post_media:after {
                    content: none;
                }

                .img,
                .post_media-flip .img {
                    max-width: 100%;
                    margin: 0;

                }
            }
        }

figure {
  border: thin #c0c0c0 solid;
   display: flex;
   flex-flow: column;
   padding: 5px;
   /* margin: auto; */
   img {
       margin: 0;
   }
   margin-bottom: 1em;
}

figcaption {
  h4 {
      font-size: 0.65em;
      font-style: italic;
      padding: 1px;
      text-align: center;
  }
}

.layout {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1em;
  margin-left: -3.5em;
  align-items: center;
}
.layout:not(:first-of-type) {
  margin-top: 3em;
}
.layout:nth-child(even) {
  flex-direction: row-reverse;
}
.layout__item {
  padding-top: 1em;
  padding-left: 3.5em;
}
.layout__item--body {
  flex-grow: 9999;
  flex-basis: 15rem;
}
.layout__item--figure {
  margin-right: auto;
  flex-grow: 1;
}
@supports ((max-width: -webkit-max-content) or (max-width: -moz-max-content) or (max-width: max-content)) {
  .layout__item--figure {
    min-width: 15rem;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    flex-basis: 15rem;
    flex-grow: 99999;
  }
}

.layout__item * + * {
  margin-top: 1em;
}

@media (min-width: 48em) {
  .container.content {
    padding-right: 0;
  }
}
@media (min-width: 64em) {
  .content {
    max-width: 44rem;
    margin-right: 1rem;
  }
}

.container.content {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}
.container.content::-webkit-scrollbar {
  display: none;
}
.container.content::-webkit-scrollbar-thumb {
  display: none;
}
.container.content::-webkit-scrollbar-track {
  display: none;
}
