{{- $img := .Get "image" -}}
{{- $ext := .Get "ext" -}}
{{- $title := .Get "title" -}}
{{- $rel := .Get "rel" -}}
{{- with .Parent -}}
{{- $galdir := .Get "gallery_dir" -}}
<a href="/gallery/{{ $galdir }}/{{ $img }}.{{ $ext }}" rel="{{ $rel }}" class="swipebox" title="{{ $title }}">
    <img alt="{{ $title }}" src="/gallery/{{ $galdir }}small/{{ $img }}.{{ $ext }}"/>
</a>
{{- else -}}
<a href="/images/{{ $img }}.{{ $ext }}" rel="{{ $rel }}" class="swipebox" title="{{ $title }}">
    <img alt="{{ $title }}" src="/images/{{ $img }}_small.{{ $ext }}"/>
</a>
{{- end -}}
